<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906981850332-s6duduapmcu1flc4vjhsa00g75boojnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906981850332-s6duduapmcu1flc4vjhsa00g75boojnu</string>
	<key>API_KEY</key>
	<string>AIzaSyAiL-UUFNIw4QCVk7uHHOl7acq_gh2omzc</string>
	<key>GCM_SENDER_ID</key>
	<string>906981850332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CRO102Lab</string>
	<key>PROJECT_ID</key>
	<string>reactnative2-51f15</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnative2-51f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906981850332:ios:eeef1be7cddb839bd6c819</string>
</dict>
</plist>